
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home</title>
    <meta name="description" content="ProcessWire is an open source CMS and web application framework aimed at the needs of designers, developers and their clients. " />
    <link rel="icon" href="/box-portfolio/site/assets/files/1101/favicon.86x0.png" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="/box-portfolio/site/templates/box-assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/box-portfolio/site/templates/box-assets/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- main css -->
    <link href="/box-portfolio/site/templates/box-assets/css/style.css" rel="stylesheet">
    <!--<link href="box-assets/css/dark-blue.css" rel="stylesheet">-->
     
    <style>
        body {
           background-color: #bdb2b280;
        }
        .top-bar, .box-intro {
    color: #333;
    padding: 150px 0 150px;
    background: -webkit-linear-gradient( rgb(29, 112, 228), rgba(255, 255, 255, .8)), url(/box-portfolio/site/assets/files/1076/parachute-1843350_1280.jpg);
    background: linear-gradient( rgba(10, 7, 7, 0.8), rgba(154, 32, 32, 0.8)), url(/box-portfolio/site/assets/files/1076/parachute-1843350_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}
.cont-form .error {color: #FF0000;}
.form-nagl ul li{
    list-style: none;
}

/*Logo Menu*/
/*.box-logo {
    background-color: #100430;
}
.box-primary-nav-trigger span{
    color: aliceblue !important;
}*/

/*Box INTRO*/
.table-cell {
    background-color: #02355ab3;
    padding: 2rem 0;
    border: 12px solid #22283b4d;
}
.table-cell h1{
color: #c5f505;
}
.table-cell h5 {
    color: aliceblue;
}
footer {
    background-color: #072d4a;
    margin-top: 1rem;
}
    
    </style>
    
    <!-- modernizr -->
    <script src="/box-portfolio/site/templates/box-assets/js/modernizr.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- end Preloader -->
      
    <div class="head container-fluid">
        <!-- box header -->
        <header class="box-header">
            <div class="box-logo">
                <a href="/box-portfolio/">
                    <img src="/box-portfolio/site/assets/files/1101/box-logo-1.80x0.png" width="80" alt="Logo">
                </a>
            </div>
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
            <!-- box-primary-nav-trigger -->
        </header>
        <!-- end box header -->

        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
                <li class="box-label">Zobacz Naszą Stronę</li>

                <li class='current'><a href='/box-portfolio/'>Home</a><i class='ion-ios-circle-filled color'></i></li><li><a href='/box-portfolio/o-mnie/'>O Mnie</a></li><li><a href='/box-portfolio/wlasciwosci/'>Właściwości</a></li><li><a href='/box-portfolio/portfolio/'>Portfolio</a></li><li><a href='/box-portfolio/kontakt/'>Kontakt</a></li>                <li class="box-label">Podąrzaj za Nami</li>
                <li class='box-social'><a href='https://www.facebook.com/' target='_blank'><i class='ion-social-facebook'></i></a></li><li class='box-social'><a href='https://twitter.com/?lang=pl' target='_blank'><i class='ion-social-twitter'></i></a></li><li class='box-social'><a href='https://www.youtube.com/channel/UCAC6bGszwXecqp1Nq2qn1Sg' target='_blank'><i class='ion-social-youtube-outline'></i></a></li>            </ul>
        </nav>
        <!-- end nav -->    
<!-- box-intro -->
        <section class="box-intro">
            <div class="table-cell">
                <h1 class="box-headline letters rotate-2">
                    
                    <span class="box-words-wrapper">
                        <b class="is-visible">foto[]</b>
                        
                        <b>na</b><b>każdą</b><b>kieszeń</b> 
                    </span>
                    
		        </h1>
                <h5>Robimy Fotografie Na każdą okazję</h5>
                
            </div>

            <div class="mouse">
                <div class="scroll"></div>
            </div>
        </section>
        <!-- end box-intro -->
    </div>

    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">
            <div class="no-padding portfolio_container">
                                    
                  
   
    <!-- single work -->
   <div class="col-md-3 col-sm-3 col-xs-12  zima przestrzen ">
       <a href="/box-portfolio/portfolio/2-portfolio/" class="portfolio_item">
           
      
           
           <img src="/box-portfolio/site/assets/files/1065/snow-round.400x0.jpg" alt="image" class="img-responsive" />
           <div class="portfolio_item_hover">
               <div class="portfolio-border clearfix">
                   <div class="item_info">
                       <span>Kula Śnierzna</span>
                       <em>Zima / Przestrzeń</em>
                   </div>
               </div>
           </div>
       </a>
   </div>
   <!-- end single work -->     
  
                                    
                  
   
    <!-- single work -->
   <div class="col-md-3 col-sm-6 col-xs-12  przestrzen ">
       <a href="/box-portfolio/portfolio/spadochroniarz/" class="portfolio_item">
           
      
           
           <img src="/box-portfolio/site/assets/files/1059/parahute.600x0.jpg" alt="image" class="img-responsive" />
           <div class="portfolio_item_hover">
               <div class="portfolio-border clearfix">
                   <div class="item_info">
                       <span>Spadochroniarz</span>
                       <em>Przestrzeń</em>
                   </div>
               </div>
           </div>
       </a>
   </div>
   <!-- end single work -->     
  
                                    
                  
   
    <!-- single work -->
   <div class="col-md-6 col-sm-3 col-xs-12  budowle ">
       <a href="/box-portfolio/portfolio/3-portfolio/" class="portfolio_item">
           
      
           
           <img src="/box-portfolio/site/assets/files/1072/eifel-tower.600x0.jpg" alt="image" class="img-responsive" />
           <div class="portfolio_item_hover">
               <div class="portfolio-border clearfix">
                   <div class="item_info">
                       <span>Aifla</span>
                       <em>Budowle</em>
                   </div>
               </div>
           </div>
       </a>
   </div>
   <!-- end single work -->     
  
                                    
                  
   
    <!-- single work -->
   <div class="col-md-3 col-sm-3 col-xs-12  piekno ">
       <a href="/box-portfolio/portfolio/beuty/" class="portfolio_item">
           
      
           
           <img src="/box-portfolio/site/assets/files/1081/beauty.600x0.jpg" alt="image" class="img-responsive" />
           <div class="portfolio_item_hover">
               <div class="portfolio-border clearfix">
                   <div class="item_info">
                       <span>Beuty</span>
                       <em>Piękno</em>
                   </div>
               </div>
           </div>
       </a>
   </div>
   <!-- end single work -->     
  
                                    
                  
   
    <!-- single work -->
   <div class="col-md-3 col-sm-3 col-xs-12  budowle ">
       <a href="/box-portfolio/portfolio/aifla/" class="portfolio_item">
           
      
           
           <img src="/box-portfolio/site/assets/files/1075/plouzane.600x0.jpg" alt="image" class="img-responsive" />
           <div class="portfolio_item_hover">
               <div class="portfolio-border clearfix">
                   <div class="item_info">
                       <span>Latarnia</span>
                       <em>Budowle</em>
                   </div>
               </div>
           </div>
       </a>
   </div>
   <!-- end single work -->     
  
                                    
                  
   
    <!-- single work -->
   <div class="col-md-6 col-sm-6 col-xs-12  nauka ">
       <a href="/box-portfolio/portfolio/nauczyciel/" class="portfolio_item">
           
      
           
           <img src="/box-portfolio/site/assets/files/1090/boys-teacher.600x0.jpg" alt="image" class="img-responsive" />
           <div class="portfolio_item_hover">
               <div class="portfolio-border clearfix">
                   <div class="item_info">
                       <span>Nauczyciel</span>
                       <em>Nauka</em>
                   </div>
               </div>
           </div>
       </a>
   </div>
   <!-- end single work -->     
  
                                    
                  
   
    <!-- single work -->
   <div class="col-md-3 col-sm-6 col-xs-12  fotografie ">
       <a href="/box-portfolio/portfolio/obiektyw/" class="portfolio_item">
           
      
           
           <img src="/box-portfolio/site/assets/files/1107/lens.600x0.jpg" alt="image" class="img-responsive" />
           <div class="portfolio_item_hover">
               <div class="portfolio-border clearfix">
                   <div class="item_info">
                       <span>Obiektyw</span>
                       <em>Fotografie</em>
                   </div>
               </div>
           </div>
       </a>
   </div>
   <!-- end single work -->     
  

                <!-- end single work -->
            </div>
            <!-- end portfolio_container -->
        </div>
        <!-- portfolio -->
    </div>
    <!-- end portfolio div -->
    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <p class="copyright">© X Foto 2017</p>
        </div>
    </footer>
    <!-- end footer -->

    <!-- back to top -->
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->



    <!-- jQuery -->
    <script src="/box-portfolio/site/templates/box-assets/js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="/box-portfolio/site/templates/box-assets/js/bootstrap.min.js"></script>
    <script src="/box-portfolio/site/templates/box-assets/js/menu.js"></script>
    <script src="/box-portfolio/site/templates/box-assets/js/animated-headline.js"></script>
    <script src="/box-portfolio/site/templates/box-assets/js/isotope.pkgd.min.js"></script>


    <!--  custom script -->
    <script src="/box-portfolio/site/templates/box-assets/js/custom.js"></script>

</body>

</html>